.sign-up{
    width: 18%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border: 1px solid blue;
}

.heading{
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
}

.heading-1{
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
}

.heading-2{
    font-size: 13px;
    margin-top: -15px;
    color: grey;
}

.name{
    display: flex;
} 

.name input[type=text]{
    width: 112.6px;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    margin: 4px;
}

.email input[type=text]{
    width: 92%;
    padding: 8px;
    font-size: 15px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    margin: 4px;
}

.password input[type=password]{
    width: 92%;
    padding: 8px;
    font-size: 15px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    margin: 4px;
}

.date{
    width: 100%;
    margin-top: 3px;
    display: flex;
    justify-content: space-between; 
}

.birthday{
    width: 32%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.birth-info{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: grey;
    font-size: 9px;
    border-radius: 50%;
    text-align: center;
    color: #eee;
    margin-left: 1px;
}

.gender-select{
    width: 100%;
    margin-top: 3px;
    display: flex;
    justify-content: space-between; 
}

.gender-select input[type=radio]{
    cursor: pointer;
}

.gender-info{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: grey;
    font-size: 9px;
    border-radius: 50%;
    text-align: center;
    color: #eee;
    margin-left: 3px;
    margin-top: 2px;
}

.gender-name{
    width: 28%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    max-width: 200px;
    margin: auto;
    margin-top: 20px;
}

.btn button{
    width: 100%;
    padding: 10px;
    background-color: #32cd32;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn button:hover{
    background: green;
    color: white;
}